<launch>
    <arg name="pkg_name" default="cubeeye_mtf"/>
    <arg name="setMDCParam" default="false"/>

    <node name="cubeeye_camera" pkg="$(arg pkg_name)" type="cubeeye_mtf_node" output="screen">
        <param name="pkg_name" value="$(arg pkg_name)"/>
        <param name="setMDCParam" value="$(arg setMDCParam)"/>

    </node>
</launch>
